.productListing {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  flex: 0 0 350px; /* Fixed width for filters */
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .filters {
    order: 2; /* Move filters below cards in mobile view */
    flex: 1; /* Take full width in mobile view */
    margin-top: 20px; /* Add margin between filters and cards */
  }

  .cards {
    grid-template-columns: 1fr; /* Single column for cards in mobile view */
  }
}
